<!-- Stranica -->
<div class="container">

  <!-- Sadrzaj stranice -->
  <div class="container">

    <!-- Prvi deo -->

    <!-- Kartice sa  -->
    <div class="container mt-5">
      <h2 class="text-dark text-center">Naše najbolje ponude</h2>
      <br>
      <div class="row">
        <div class="col-sm-4 text-center" style="margin-bottom: 2%;">
          <div class="card text-light bg-success"
               style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.30);">
            <img class="card-img-top" src="../assets/kartice - orvi deo.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kartice sa istaknutim ponudama</h5>
              <p class="card-text">Kartica sa opisom ponuda</p>
              <hr>
              <a href="#" class="btn btn-light">Otvori stranicu</a>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="col-sm-4 text-center" style="margin-bottom: 2%;">
          <div class="card text-light bg-success"
               style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.30);">
            <img class="card-img-top" src="../assets/kartice - orvi deo.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kartice sa istaknutim ponudama</h5>
              <p class="card-text">Kartica sa opisom ponuda</p>
              <hr>
              <a href="#" class="btn btn-light">Otvori stranicu</a>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="col-sm-4 text-center" style="margin-bottom: 2%;">
          <div class="card text-light bg-success"
               style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.30);">
            <img class="card-img-top" src="../assets/kartice - orvi deo.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Kartice sa istaknutim ponudama</h5>
              <p class="card-text">Kartica sa opisom ponuda</p>
              <hr>
              <a href="#" class="btn btn-light">Otvori stranicu</a>
            </div>
          </div>
        </div>

        <br>

      </div>
    </div>
    <!-- Kartice sa  -->

    <!-- Prvi deo -->

    <br>
    <hr class="bg-light">
    <br>

    <!-- Drugi deo -->
    <div class="container text-center">
      <h2 class="text-dark">Naša tri najbolja apartmana</h2>
      <br>
      <a href="#"><img class="slike img-fluid" src="../assets/3.svg"></a>
      <br>
      <a href="#" class="btn btn-success" style="margin-top: -80px;">Otvori stranicu</a>
      <div class="container mt-5">
        <h2 class="text-dark text-center"></h2>
        <br>
        <div class="row mb-5">
          <div class="col-sm-6 text-center mt-1%" style="margin-bottom: 2%;">
            <div class="card text-light bg-success"
                 style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.30);">
              <img class="card-img-top" src="../../../assets/kartice - orvi deo.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Kartice sa istaknutim apartmanima</h5>
                <p class="card-text">Kartica sa opisom apartmanima</p>
                <hr>
                <a href="#" class="btn btn-light">Otvori stranicu</a>
              </div>
            </div>
          </div>

          <br>
          <br>

          <div class="col-sm-6 text-center" style="margin-bottom: 2%;">
            <div class="card text-light bg-success"
                 style="box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.30);">
              <img class="card-img-top" src="../assets/kartice - orvi deo.svg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Kartice sa istaknutim apartmanima</h5>
                <p class="card-text">Kartica sa opisom apartmanima</p>
                <hr>
                <a href="#" class="btn btn-light">Otvori stranicu</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Drugi deo -->

  </div>
  <!-- Sadrzaj stranice -->


</div>
<!-- Stranica -->
